* {
    background-color: #121212;
    color: white;
    font-size: 12px;
}

button {
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    margin: 0;
    padding: 6px 10px;
    cursor: pointer;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > .display {
    border: 2px solid white;
    padding: 0 4px;
    margin-bottom: 2px;
    width: 87%;
    text-align: right;
}

.container > .buttons {
    display: flex;
    gap: 4px;
}

.container > .buttons > .numberButtons {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.container > .buttons > .numberButtons > .row > .funcButton {
    background-color: #ed5833;
}

.container > .buttons > .numberButtons > .row >  #zeroButton {
    padding: 6px 28px;
}

.container > .buttons > .numberButtons > .row >  #bullButton {
    padding: 6px 11.35px;
}

.container > .buttons > .functionButtons {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.container > .buttons > .functionButtons > .funcButton {
    background-color: #ed5833;
}
